@model RowadMisrSystem.Models.Trainee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if (Model != null)
{
    <div>
    <h4>Trainee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
                @if (Model.Image != null)
                {
                    <img src="@Model.Image" />
                }
                else
                {
                    <img src="~/wwwroot/images/default.jpg"/>
                }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TraineeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <center>
        <h3>Sorry! There is no trainee with the given ID</h3>
        <a asp-action="Index">Back to List</a>
    </center>
}